@charset "UTF-8";


.add{

    background-color: transparent;
    position: relative;
    left: 0;
}

#add table{
    width: 500px;


}

#add th,#add td{
    height: 60px;
    text-align: right;
    border: none;
}

#add input{
    width: 350px;
    height: 40px;
    font-size: large;
    font-family: "Adobe 楷体 Std R",sans-serif;
    padding-left: 15px;
    border-radius: 5px;
    background-color: rgba(255,255,255,1);
}

#add input:focus{
    background-color:  #a5c261;
}

#add{
    width: 500px;
    padding: 25px;
}


#add .code{
    width: 160px;
}



#add .vci{
    position: relative;
    top:12px;

}





#add .submit{
    background-image: url("../img/add-btn.png");
    width: 100px;
    height: 38px;

}

#add .cancel{
    background-image: url("../img/add-cancel.png");
    width: 100px;
    height: 38px;

}

#add .read,#add .read:focus{
    background-color: rgba(255,255,255,0.1);
    text-align: center;
    color: #a5c261;

}


